#root {
  /*Nyambura --ensures content takes up full width and the least full height of viewport */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.container-md {
  /* Nyambura container for different survery views*/

  width: 100%;             /* Set width to 100% of the parent */
  height: 400px;           /* Sets a fixed height*/
  padding: 2rem;           
  margin: 0 auto;          
  box-sizing: border-box;  /* Include padding in the element's total width/height */
}

/* Nyambura Styling for View 1 cards (Survey selection) to ensure that they align*/
.card-body {
  min-height: 300px; /*  Minimum height for the card content */
}

.card {
  height: 100%; /* Card stretches vertically */
}

/*Nyambura --Light Blue StockMyFoodBank color */ 
.Stock-Color {
  background-color: #7fb7ee ;
}

/*Nyambura --Basic Button styling has light blue background color, black text and border radius*/
.custom-btn {
  background-color:#7fb7ee;
  color: #000;
  border-radius: 10px;
}

.list-item {
  height: 8rem;
} 

.foodImg{
  max-height: 100%;
  aspect-ratio: 1;
}
/* Nyambura --Hide the table caption by default (accessibility)
/* ******Murphree - DO NOT add any display nones or it may break the jest tests I am building**** */
/* table caption {
  display: none; 
} */

/* Nyambura --Show the caption when the table is hovered (accessibility) removed as it does not work with display:none */
/* table:hover caption {
  display: block;
  position: absolute;  
  background-color: rgba(0, 0, 0, 0.5);
  color: white; 
  padding: 5px;
  font-size: 1em; 
  top: 0; 
}  */
