#root {
  /*Nyambura --ensures content takes up full width and the least full height of viewport */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.container-md {
  /* Nyambura container for different survery views*/

  width: 100%;             /* Set width to 100% of the parent */
  height: 400px;           /* Sets a fixed height*/
  padding: 2rem;           
  margin: 0 auto;          
  box-sizing: border-box;  /* Include padding in the element's total width/height */
}

/* Nyambura Styling for View 1 cards (Survey selection) to ensure that they align*/
.card-body {
  min-height: 300px; /*  Minimum height for the card content */
}

.card {
  height: 100%; /* Card stretches vertically */
}
.Container-md bg-light me-5 ms-5 {
  height: 400px;
}

